.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  /* background-color: #fff; */
  box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container,
.search-input-block {
  box-sizing: border-box;
}

.header .container,
.logo,
.search-block,
.search-input-block,
.user-block,
.content .container,
.user-item,
.user-info,
.user-avatar,
.social-list,
.category-list,
.video-info,
.footer {
  display: flex;
  align-items: center;
}

.header .container {
  padding: 0 16px;
  justify-content: space-between;
}

.logo-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-image: url(./assets/svg/kitty_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: invert(91%) sepia(17%) saturate(5079%) hue-rotate(326deg) brightness(101%) contrast(93%);
}

.logo-text {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  color: #f6af44;
}

.search-block {
  width: 35%;
}

.search-input-block {
  position: relative;
  width: calc(100% - 45px);
  height: 32px;
  box-sizing: border-box;
  border-radius: 6px;
}

.search-input {
  width: calc(100%);
  height: 100%;
  padding: 0 64px 0 10px;
  border-radius: 6px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.search-input:focus + .button-clear {
  visibility: visible;
}

.search-input:focus {
  outline-offset: 1px;
}

.button {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .3s;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  transform: scale(.97);
}

.button-header {
  width: 30px;
  height: 30px;
}

.button-clear,
.button-search {
  position: absolute;
  top: 0;
}

.button-clear {
  right: 32px;
  visibility: hidden;
}

.button-search {
  right: 1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: url(./assets/svg/search_icon.svg);
  background-size: 60%;
  background-color: #ebebeb;
}



.button-voice {
  margin-left: 10px;
  background-image: url(./assets/svg/microphone_icon.svg);
}

.button-notice {
  background-image: url(./assets/svg/bell_icon.svg);
}

.button-voice,
.button-notice {
  filter: invert(75%) sepia(0%) saturate(54%) hue-rotate(158deg) brightness(103%) contrast(94%);
}

.button-voice:hover,
.button-notice:hover {
  filter: invert(6%) sepia(5%) saturate(3495%) hue-rotate(189deg) brightness(97%) contrast(86%);
}


.dropdown {
  position: relative;
  height: 32px;
  margin-left: 10px;
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  width: 140px;
  top: 35px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #ebebeb;
  list-style: none;
  border-radius: 6px;
  background-color: #fff;
  z-index: 1;
  display: none;
  transition: .3s;
}

.button-dropdown {
  border-radius: 50%;
  background-color: #f6af44;
  background-image: url(./assets/svg/cat-paw.svg);
  background-size: 50%;
}

.button-dropdown:hover {
  background-color: #ebebeb;
}

.dropdown-item {
  margin: 0;
  padding: 0;
}

.dropdown-link {
  position: relative;
  padding: 10px 16px;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
}

.dropdown-link:hover {
  background-color: #ebebeb;
}

.dropdown-link span {
  margin-right: 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown-profile .dropdown-icon {
  background-image: url(./assets/svg/cat-paw.svg);
}

.dropdown-setting .dropdown-icon {
  background-image: url(./assets/svg/setting_icon.svg);
}

.dropdown-logout {
  color: #ff0000;
}

.dropdown-logout .dropdown-icon {
  background-image: url(./assets/svg/out_sign_icon.svg);
  filter: invert(18%) sepia(84%) saturate(5861%) hue-rotate(356deg) brightness(118%) contrast(128%);
}

.content {
  margin-top: 64px;
  padding: 0;
}

.aside {
  width: 240px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ebebeb;
}

.user-list {
  height: calc(100vh - 64px - 165px);
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  list-style: none;
  overflow-y: auto;
}

.user-item {
  margin-bottom: 20px;
  transition: .3s;
  cursor: pointer;
}

.user-item:hover {
  background-color: #c0c0c0;
}

.user-item:hover .user-count-label.active {
  animation: pulse 1s infinite;
}

.user-avatar,
.video-avatar {
  width: 30px;
  height: 30px;
  justify-content: center;
}

.user-avatar img,
.video-avatar img {
  width: 100%;
  height: auto;
}

.user-name {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info {
  margin-left: 16px;
}

.user-count-label {
  margin-left: auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.user-count-label.active {
  background-color: #ff0000;
}

.user-count {
  margin-left: 6px;
}

.user-info {
  width: 100%;
}

.info-title {
  text-align: center;
  font-size: 20px;
}

.info-block {
  height: 165px;
  margin-top: auto;
  padding: 16px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}

.info-block-container {
  margin: 0;
  padding: 16px;
  background-color: #dfdfdf;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(226, 31, 17, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(226, 31, 17, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(226, 31, 17, 0);
  }
}

.social-list {
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link:hover {
  transform: scale(.97);
  filter: invert(9%) sepia(100%) saturate(5197%) hue-rotate(245deg) brightness(104%) contrast(152%);
}

.telegram {
  background-image: url(./assets/svg/telegram_logo_icon.svg);
}

.instagram {
  background-image: url(./assets/svg/instagram\ logo_icon.svg);
}

.facebook {
  background-image: url(./assets/svg/facebook\ logo_icon.svg);
}

.main {
  width: calc(100% - 240px);
  height: calc(100vh - 64px);
  box-sizing: border-box;
  padding: 16px;
  flex-direction: column;
  overflow-y: auto;
}

.category-list {
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  list-style: none;
}

.category-item {
  margin-right: 10px;
}

.category-link {
  display: block;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  background-color: #ebebeb;
  cursor: pointer;
}

.category-item:first-child .category-link {
  border: none;
  background-color: #f6af44;
  color: #fff;
}

.video-list {
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.video-item {
  width: calc((100% - 3 * 10px) / 4 );
  font-size: 14px;
  cursor: pointer;
  transition: .3s;
}

.video-item:hover {
  transform: scale(.97);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 55%;
}

.video-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-bage {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #ff0000;
  color: #fff;
}

.video-viewers,
.video-timer {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-timer {
  display: none;
}

.video-item.active .video-bage,
.video-item.active .video-viewers {
  display: none;
}

.video-item.active .video-timer {
  display: block;
}

.video-info {
padding: 5px 0;
}

.video-decr {
  margin-left: 16px;
}

.button-show-more {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 10px;
  height: 25px;
}

.button-show-more span {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #000;
}

.video-slider {
  position: relative;
  width: 100%;
  height: 70%;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.video-slider .video-item {
  position: absolute;
  width: 50%;
  height: min-content;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  display: flex;
  align-items: start;
  background-color: #ebebeb;
  z-index: 3;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.video-slider .video-item:nth-child(2) {
  width: 60%;
  transform: scaleY(.7);
  z-index: 2;
}

.video-slider .video-item:nth-child(3) {
  width: 70%;
  transform: scaleY(.55);
  z-index: 1;
}

.video-slider .video-item:nth-child(2):hover,
.video-slider .video-item:nth-child(3):hover {
  transform: scaleX(1.05);
}

.video-slider .video-container {
  width: 75%;
}

.video-slider .video-info {
  width: 25%;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}

.video-slider .video-avatar,
.video-slider .video-decr,
.video-slider .video-author {
  margin: 5px auto;
}

.button-show-more {
  flex-direction: row;
  margin: 5px auto;
  width: min-content;
}

.footer {
  margin-top: auto;
  margin-bottom: 0;
  justify-content: center;
  column-gap: 10px;
}

.footer-info {
  font-size: 16px;
}

.button-play {
  background-image: url(./assets/svg/youtube_logo_icon.svg);
}

@media (max-width: 1200px) {
  .aside {
    width: 64px;
  }

  .user-list {
    height: calc(100vh - 64px);
  }

  .user-info {
    display: none;
  }

  .info-block {
    display: none;
  }

  .main {
    width: calc(100% - 64px);
  }

  .video-item {
    width: calc((100% - 2 * 10px) / 3 );
  }

}

@media (max-width: 1000px) {
  .video-item {
    width: calc((100% - 10px) / 2 );
  }
}

@media (max-width: 700px) {
  .video-list {
    gap: 20px;
  }

  .video-item {
    width: calc(100% - 10px);
  }
}
